. {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(42, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow: hidden;
}
.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 300px auto;
}

h1 {
  color: white;
  font-size: 60px
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-top: 2px;
}
